
@{
    ViewBag.Title = "员工五险一金和工资月度汇总表";
}
<script src="~/Library/easyui/datagrid-filter.js"></script>
<style>
    .icon-filter {
        background: url('../images/filter.png') no-repeat center center;
    }
</style>
<script type="text/javascript">
    var opt = {};
    opt.query = function () {
        var url = '../Reports/GetPersonPayMonthDetail';
        $('#dgContainer').height('auto');
        var year = $('#cmbYears').combobox('getValue');
        var month = $('#cmbMonth').combobox('getValue');
        var cmpid = $('#cmbCompany').combobox('getValue');
        if (cmpid == '') cmpid = 0;
        var params = { year: year, month: month, companyId: cmpid };
        $('#dg').datagrid('loading');
        $.ajax({
            url: url,
            type: "get",
            dataType: "json",
            data: params,
            success: function (data) {
                $('#dg').datagrid('loadData', data);
                $('#dg').datagrid('loaded');
            },
            error: function () {
                $('#dg').datagrid('loaded');
                $.messager.alert('提示', '查询出错！');
            }
        });
    };
    opt.export = function () {
        var url = '../Reports/DownPersonPayMonthDetail';
        var year = $('#cmbYears').combobox('getValue');
        var month = $('#cmbMonth').combobox('getValue');
        var cmpid = $('#cmbCompany').combobox('getValue');
        if (cmpid == '') cmpid = 0;
        var params = { year: year, month: month, companyId: cmpid };
        HR.DownFile(url, params);
    };
    function init() {
    }
</script>
<div class="container container-background">
    <div class="page-header">
        <h3>统计报表.<small>&nbsp;员工五险一金和工资月度汇总表（导入统计）</small><small style="color:#ff6a00">&nbsp;</small></h3>
    </div>
    <div id="pnlSearch">
        <div class="row">
            <div class="col-md-2">
                <select id="cmbYears" class="easyui-combobox" style="width:90%;height:30px;" data-options="valueField:'id',textField:'text',url:'../Reports/GetYears'"></select>
            </div>
            <div class="col-md-1">
                <select id="cmbMonth" class="easyui-combobox" style="width:90%;height:30px;" title="请输入年度">
                    <option value="1">1月</option>
                    <option value="2">2月</option>
                    <option value="3">3月</option>
                    <option value="4">4月</option>
                    <option value="5">5月</option>
                    <option value="6">6月</option>
                    <option value="7">7月</option>
                    <option value="8">8月</option>
                    <option value="9">9月</option>
                    <option value="10">10月</option>
                    <option value="11">11月</option>
                    <option value="12">12月</option>
                </select>
            </div>
            <div class="col-md-3">
                <input id="cmbCompany" class="easyui-combobox" style="width:90%;height:30px;" data-options="
				url:'@Url.Action("QueryCompanyList","Company")',
				prompt:'输入单位名称...',
				mode: 'remote',
				valueField: 'CompanyId',
				textField: 'Name',
                onSelect: function(rec){
                    opt.selectCompany(rec);
                },
				delay:2000">
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary btn-sm" href="javascript:void(0)" onclick="opt.query()" style="width:80px;"><i class="fa fa-file-o" aria-hidden="true"></i> 查询</a>
                <a class="btn btn-primary btn-sm" href="javascript:void(0)" onclick="opt.export()" style="width:80px;"><i class="fa fa-file-excel-o" aria-hidden="true"></i> 导出</a>
            </div>
        </div>
    </div>
    <!-- 数据列表 -->
    <div style="padding-top:20px;height:800px;" id="dgContainer">
        <table class="easyui-datagrid" title="" style="width:100%;" id="dg"
               data-options="idField:'a',
			        singleSelect:true,collapsible:false,rownumbers:true,striped:true,loadFilter:pagerFilter,
			        autoRowHeight:true,filterBtnIconCls:'icon-filter',
			        pagination:true,
			        pageSize:20,pageList:[10,20,30,40,50,100]">
            <thead>
                <tr>
                    <th data-options="field:'rownum',width:50" rowspan="2">序号</th>
                    <th data-options="field:'orgname',width:60" rowspan="2">单位</th>
                    <th data-options="field:'PERSON_NAME',width:60" rowspan="2">姓名</th>
                    <th colspan="3">应发工资</th>
                    <th colspan="4">个人应扣</th>
                    <th colspan="5">单位缴纳部分</th>
                    <th data-options="field:'fwf',width:50" rowspan="2">服务费</th>
                    <th data-options="field:'total',width:50" rowspan="2">费用合计</th>

                </tr>
                <tr>
                    <!-- 工资-->
                    <th data-options="field:'jbgz',width:60">基本工资</th>
                    <th data-options="field:'jxgz',width:60">绩效工资</th>
                    <th data-options="field:'yfgz',width:60">应发工资</th>

                    <!-- 个人缴纳-->
                    <th data-options="field:'ylao',width:60">养老8%</th>
                    <th data-options="field:'sye',width:70">失业0.4%</th>
                    <th data-options="field:'yliao',width:70">医疗2%</th>
                    <th data-options="field:'grjl',width:70">小计</th>

                    <!-- 单位缴纳-->
                    <th data-options="field:'cylao',width:60">养老16%</th>
                    <th data-options="field:'csye',width:70">失业0.6%</th>
                    <th data-options="field:'cgshang',width:70">工伤0.9%</th>
                    <th data-options="field:'cyliao',width:70">医疗（含生育）6.5%</th>
                    <th data-options="field:'dwjl',width:70">小计</th>
                </tr>
            </thead>
        </table>
    </div>

</div>


