<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <typeAliases>
    <!-- Models-->
    <!-- 
    <typeAlias alias="IBook" type="BusinessBackend.IBook, BusinessBackend" />
    <typeAlias alias="Book" type="BusinessBackend.Book, BusinessBackend" />
    -->
    <!-- Services -->
    <typeAlias alias="IDao" type="Dapper.Test.Ioc.IDao, Dapper.Test" />
    <typeAlias alias="OracleDao" type="Dapper.Test.Ioc.OracleDao, Dapper.Test" />
    <typeAlias alias="MySqlDao" type="Dapper.Test.Ioc.MySqlDao, Dapper.Test" />
    <!-- Repositories -->
    <typeAlias alias="IService" type="Dapper.Test.Ioc.IService, Dapper.Test" />
    <typeAlias alias="TestImpl" type="Dapper.Test.Ioc.TestImpl, Dapper.Test" />
  </typeAliases>
  <container>
    <register type="IDao" mapTo="OracleDao" />
    <register type="IDao" mapTo="MySqlDao" name="dg" />
    <register type="IService" mapTo="TestImpl"  />
    <register type="IService" mapTo="TestImpl" name="p1" >
      <constructor>
        <param name="dao" dependencyName="dg">
        </param>
      </constructor>
    </register>
    <!-- 
    <register type="IBookService" mapTo="BookService" >
      <constructor>
        <param name="br" dependencyName="SQLrepo">
        </param>
      </constructor>
    </register>
    -->
  </container>
</unity>