@{
    ViewBag.Title = "Home Page";
}
<script src="~/Library/echarts/js/echarts.min.js"></script>
<script src="~/Library/echarts/theme/infographic.js"></script>
<script src="~/JS/chart.HomePage.js"></script>
<script src="~/JS/vue.min.js"></script>
<div class="container" style="padding-top:10px;">


    <!-- 合同预警-->
    <div class="row" >
        <div id="app" class="home_panel" >
            <div class="home_panel_title">合同即将到期人员</div>
            <ol >
                <li v-for="p in persons">
                    <span>{{ p.PersonName }} </span> /
                    <span> {{ p.ContractTime }} / </span>
                    <span> {{ p.ContractDays }}天 </span>/
                    <span> {{ p.CompanyName }} </span>/
                    <span> {{ p.CardId }} </span>/
                    <span> {{ p.PositionName }} </span>/
                    <span> {{ p.Phone }} </span>
                </li>
            </ol>
        </div>
    </div>

    <!-- 离退休预警 -->
    <div style="height:10px;"></div>
    <div class="row">
        <div id="app2" class="home_panel_o">
            <div class="home_panel_title">即将退休人员</div>
            <ol>
                <li v-for="p in persons">
                    <span>{{ p.PersonName }} </span> /
                    <span> {{ p.RetireTime }} / </span>
                    <span> {{ p.RetireDays }}天 </span>/
                    <span> {{ p.CompanyName }} </span>/
                    <span> {{ p.CardId }} </span>/
                    <span> {{ p.PositionName }} </span>/
                    <span> {{ p.Phone }} </span>
                </li>
            </ol>
        </div>
    </div>

    <!-- 工资发放统计 -->
    <div style="height:10px;"></div>
    <div class="row home_panel"  >
        <div id="payChart" style="height:300px;"></div>
    </div>
    <!-- 岗位统计 -->
    <div style="height:10px;"></div>
    <div class="row home_panel_o" >
        <div class="col-md-4">
            <div id="employeePositionCounter" style="width: 100%;height:300px;"></div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div id="employeeDegreeCounter" style="width: 100%;height:300px;"></div>
        </div>
    </div>
    <!-- 人员统计 -->
    <div id="employeeCounter" style="width: 100%;height:300px;display:none;" class="row"></div>
    <div style="height:10px;"></div>
    <div class="row home_panel_bottom">
        <div class="home_panel_title">常用模板下载</div>
        <ul>
            <li><a href="../../Files/2019年10月工资表.xls">工资导入模板</a></li>
            <li><a href="../../Files/2018年6月份缴存导入数据.xls">社保导入模板</a></li>
            <li><a href="../../Files/批量导入人员模板.xlsx">批量导入人员模板</a></li>
            <li><a href="../../Files/导入单位账户余额.xlsx">批量导入人员模板</a></li>
        </ul>
    </div>
</div>
<script>

</script>