@{
    ViewBag.Title = "Home Page";
}
<script src="~/Library/echarts/js/echarts.min.js"></script>
<script src="~/Library/echarts/theme/infographic.js"></script>
<script src="~/JS/chart.HomePage.js"></script>
<script src="~/JS/vue.min.js"></script>
<style>
    #rcorners1, #rcorners3 {
        border-radius: 5px;
        border: 2px solid #e0f2f2;
        padding: 0px;
    }
    #rcorners2, #rcorners4 {
        border-radius: 5px;
        border: 2px solid #e0f2f2;
        padding: 0px;
    }
    #rcorners0 {
        border-radius: 5px;
        border: 0px solid #ff0000;
        padding: 5px;
        color:#ff0000;
    }
</style>
<div class="container" style="padding-top:10px;">
    <!--版本更新-->
    <div class="row" style="display:none;" id="rcorners0">
        <span>程序更新升级，请按ctrl+shift+delete快捷键清理浏览器缓存！</span>
        <p>
            更新内容：修复若干已知问题。
        </p>
    </div>
    <script type="text/javascript">
        var _myVersion = '@Publish2Local.Complication.Version';
        var _uVersion = HR.getVersion();

    </script>
    <!-- 合同预警-->
    <div class="row" id="rcorners1">
        <div id="app" class="home_panel_o">
            <div class="alert alert-danger" role="alert">合同即将到期人员名单：</div>
            <div class="row">
                <div class="col-md-1">姓名</div>
                <div class="col-sm-2">合同到期日期</div>
                <div class="col-sm-1">距离到期天数</div>
                <div class="col-md-3">所属单位</div>
                <div class="col-md-2">岗位</div>
                <div class="col-md-1">联系方式</div>
            </div>
            <div class="row" v-for="p in persons">
                <div class="col-md-1">{{ p.PersonName }}</div>
                <div class="col-sm-2">{{ p.ContractTime }}</div>
                <div class="col-sm-1">{{ p.ContractDays }}天</div>
                <div class="col-md-3">{{ p.CompanyName }}</div>
                <div class="col-md-2">{{ p.PositionName }}</div>
                <div class="col-md-1">{{ p.Phone }}</div>
            </div>
        </div>
    </div>



    <!-- 离退休预警 -->
    <div style="height:5px;"></div>
    <div class="row" id="rcorners2">
        <div id="app2" class="home_panel_o">
            <div class="alert alert-danger" role="alert">即将退休人员名单：</div>
            <div class="row">
                <div class="col-md-1">姓名</div>
                <div class="col-sm-2">退休日期</div>
                <div class="col-sm-1">距离退休天数</div>
                <div class="col-md-3">所属单位</div>
                <div class="col-md-2">岗位</div>
                <div class="col-md-1">联系方式</div>
            </div>
            <div class="row" v-for="p in persons">
                <div class="col-md-1">{{ p.PersonName }}</div>
                <div class="col-sm-2">{{ p.RetireTime }}</div>
                <div class="col-sm-1">{{ p.RetireDays }}天</div>
                <div class="col-md-3">{{ p.CompanyName }}</div>
                <div class="col-md-2">{{ p.PositionName }}</div>
                <div class="col-md-1">{{ p.Phone }}</div>
            </div>
        </div>
    </div>

    <!-- 工资发放统计 -->
    <div style="height:5px;"></div>
    <div class="row home_panel" id="rcorners3">
        <div id="payChart" style="height:300px;"></div>
    </div>
    <!-- 岗位统计 -->
    <div style="height:5px;"></div>
    <div class="row home_panel" id="rcorners4">
        <div class="col-md-4">
            <div id="employeePositionCounter" style="width: 100%;height:300px;"></div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div id="employeeDegreeCounter" style="width: 100%;height:300px;"></div>
        </div>
    </div>
    <!-- 人员统计 -->
    <div id="employeeCounter" style="width: 100%;height:300px;display:none;" class="row"></div>
    <div style="height:10px;"></div>
    <div class="row home_panel_bottom">
        <div class="home_panel_title">常用模板下载</div>
        <ul>
            <li><a href="../../Files/XXXX单位X年X月工资导入模板和样例数据.xls">应发工资导入模板</a></li>
            <li><a href="../../Files/XXXX单位X年X月五险一金导入模板和样例数据.xls">社保导入模板</a></li>
            <li><a href="../../Files/批量导入人员模板.xlsx">批量导入人员模板</a></li>
            <li><a href="../../Files/导入单位账户余额.xlsx">批量导入单位账户余额</a></li>
            <li><a href="../../Files/单位结算.xlsx">单位结算模板</a></li>
            <li><a href="../../Files/考勤表.xlsx">考勤明细模板</a></li>
        </ul>
    </div>
</div>
<script>

</script>