
@{
    ViewBag.Title = "系统提示窗";
}

<div class="container " style="padding-top:10px;">
    <div class="home_panel_o" style="height:800px;">
        <div class="alert alert-danger" role="alert">@ViewBag.Message</div>
    </div>

</div>