
@{
    ViewBag.Title = "工资导入";
}
<!-- import opt js-->
<script src="~/JS/pay.ImportorPayDetailOpt.js"></script>
<link href="~/Library/uploadFiles/default.css" rel="stylesheet" />
<script src="~/Library/uploadFiles/jquery.uploadFiles.js"></script>
<script src="~/Library/easyui/datagrid-filter.js"></script>
<style>
    .icon-filter {
        background: url('../images/filter.png') no-repeat center center;
    }
</style>
<script type="text/javascript">
    var importorId = '@ViewBag.importorId'
</script>
<div class="container container-layout">
    <div class="page-header">
        <h3>
            <small style="font-size:24px;color:#000;">薪酬管理&nbsp;.</small>
            <small style="font-size:18px;"><a href="~/Pay/ImportorList">工资&nbsp;.</a></small>
            <small>@ViewBag.importorTitle</small>&nbsp;
            <small><button type="button" class="btn btn-default btn-xs" style="width:60px;" onclick="opt.export();return false;">导出</button></small>
        </h3>
    </div>
    @{
        if ("WT".Equals(Publish2Local.Complication.Spot))
        {
            <!-- 数据列表 -->
            <div id="dgContainer" style="margin:20px 0;">
                <table id="dg" class="easyui-datagrid" title="" style="width:100%;"
                       data-options="idField:'a',
			        singleSelect:true,collapsible:false,rownumbers:true,striped:true,loadFilter:pagerFilter,
			        autoRowHeight:true,filterBtnIconCls:'icon-filter',
			        pagination:true,showFooter:true,
			        pageSize:20,pageList:[10,20,30,40,50,100]">
                    <thead>
                        <tr>
                            <th data-options="field:'PERSON_NAME',width:60">姓名</th>
                            <th data-options="field:'CARD_ID',width:200">身份证号</th>
                            <th data-options="field:'BANK_CARD',width:200">银行卡号</th>
                            <th data-options="field:'f101',width:80">基本工资</th>
                            <th data-options="field:'f102',width:80">绩效工资</th>
                            <th data-options="field:'f103',width:80">岗位工资</th>
                            <th data-options="field:'f104',width:80">其他补贴</th>
                            <th data-options="field:'f207',width:80">个税</th>
                        </tr>
                    </thead>
                </table>
            </div>
        }
        else
        {
            <!-- 数据列表 -->
            <div id="dgContainer" style="margin:20px 0;">
                <table id="dg" class="easyui-datagrid" title="" style="width:100%;height:100%"
                       data-options="idField:'a',
			        singleSelect:true,collapsible:false,rownumbers:true,striped:true,loadFilter:pagerFilter,
			        autoRowHeight:true,filterBtnIconCls:'icon-filter',
			        pagination:true,
			        pageSize:20,pageList:[10,20,30,40,50,100]">
                    <thead>
                        <tr>
                            <th data-options="field:'PERSON_NAME',width:60">姓名</th>
                            <th data-options="field:'CARD_ID',width:120">身份证号</th>
                            <th data-options="field:'BANK_CARD',width:120">银行卡号</th>
                            <th data-options="field:'f101',width:80">基本工资</th>
                            <th data-options="field:'f102',width:80">绩效工资</th>
                            <th data-options="field:'f103',width:80">加班费</th>
                            <th data-options="field:'f104',width:80">差旅费</th>
                            <th data-options="field:'f105',width:80">岗位津贴</th>
                            <th data-options="field:'f106',width:80">技术津贴</th>
                            <th data-options="field:'f107',width:80">出勤补助</th>
                            <th data-options="field:'f108',width:80">环卫津贴</th>
                            <th data-options="field:'f109',width:80">劳保费</th>
                            <th data-options="field:'f110',width:80">高温津贴</th>
                            <th data-options="field:'f111',width:80">慰问费</th>
                        </tr>
                    </thead>
                </table>
            </div>
        }
    }

</div>



