
@{
    ViewBag.Title = "社保详情";
}
<!-- import opt js-->
<script src="~/JS/pay.ImportorDetailOpt.js"></script>
<script src="~/Library/easyui/datagrid-filter.js"></script>
<style>
    .icon-filter {
        background: url('../images/filter.png') no-repeat center center;
    }
</style>
<div class="container container-layout">
    <div class="page-header">
        <h3>
            <small style="font-size:20px;">薪酬管理&nbsp;.</small> &nbsp;
            <small style="font-size:18px;"><a href="~/Pay/ImportorList">社保&nbsp;.</a></small>&nbsp;
            <small>@ViewBag.importorTitle</small>&nbsp;
            <small><button type="button" class="btn btn-default btn-xs" style="width:60px;" onclick="opt.export();return false;">导出</button></small>
        </h3>
    </div>
    <!-- 数据列表 -->
    <div id="dgContainer" style="margin:20px 0;">
        <input id="hideview" type="hidden" value="@ViewBag.ImportId" />
        <table id="dg" class="easyui-datagrid" title="" style="width:100%;"
               data-options="idField:'ImportId',
			        singleSelect:true,collapsible:false,rownumbers:true,striped:true,loadFilter:pagerFilter,
			        autoRowHeight:true,filterBtnIconCls:'icon-filter',pagination:true,showFooter:true,
			        pageSize:20,pageList:[10,20,30,40,50,100]">
            <thead>
                <tr>
                    <th data-options="field:'ItemName',width:100">险种</th>
                    <th data-options="field:'PersonName',width:80">姓名</th>
                    <th data-options="field:'CardId',width:200">身份证号</th>
                    <th data-options="field:'PayMonth',width:100">缴存日期</th>
                    <th data-options="field:'BaseValue',width:100">缴费基数</th>
                    <th data-options="field:'ScaleCompany',width:100">单位缴费比例</th>
                    <th data-options="field:'ScalePerson',width:100">个人缴费比例</th>
                    <th data-options="field:'PersonPayValue',width:100">个人缴存</th>
                    <th data-options="field:'CompanyPayValue',width:100">单位缴存</th>
                    <th data-options="field:'Memo',width:120">备注</th>
                </tr>
            </thead>
        </table>
    </div>
</div>