
@{
    ViewBag.Title = "Company";
}
<!-- import opt js-->
<script src="~/JS/pay.TemplateListOpt.js"></script> 
<div class="container container-layout">
    <div class="page-header">
        <h3>发放管理.<small>&nbsp;单位模板管理</small></h3>
    </div>
    <div id="pnlSearch">
        <div class="row">
            <div class="col-md-2">
                <input type="text" id="txtQuery" style="width:180px;" class="form-control panelseach-text" placeholder="请输入关键字...">
            </div>
            <div class="col-md-1">
                <a class="btn btn-primary btn-sm" href="javascript:void(0)" onclick="opt.query()"><i class="fa fa-search"></i> 快速查询</a>
            </div>
            <div class="col-md-5">
                <a class="btn btn-primary btn-sm" href="javascript:void(0)" onclick="opt.add()"><i class="fa fa-address-book-o" aria-hidden="true"></i> 创建模板</a>
                <a class="btn btn-primary btn-sm" href="javascript:void(0)" onclick="opt.edit()"><i class="fa fa-address-book-o" aria-hidden="true"></i> 编辑</a>
                <a class="btn btn-danger btn-sm" href="javascript:void(0)" onclick="opt.delete()"><i class="fa fa-address-book-o" aria-hidden="true"></i> 删除</a>
            </div>
        </div>

    </div>
    <!-- 数据列表 -->
    <div id="dgContainer" style="margin:20px 0;">
        <table id="dg" class="easyui-datagrid" title="" style="width:100%;height:100%"
               data-options="idField:'CompanyId',
			        singleSelect:true,collapsible:false,rownumbers:true,striped:true,loadFilter:pagerFilter,
			        autoRowHeight:true,
			        pagination:true,
			        pageSize:10,pageList:[10,20,30,40,50,100]">
            <thead>
                <tr>
                    <th data-options="field:'TemplateId',width:100">ID</th>
                    <th data-options="field:'TemplateName',width:100">模板名称</th>
                    <th data-options="field:'CompanyName',width:100">单位名称</th>
                    <th data-options="field:'CreatTime',width:120,align:'right'">创建时间</th>
                    <th data-options="field:'Representative',width:150,align:'right'">法人代表</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script src="~/JS/pay.TemplateListOpt.js"></script>

