
@{
    ViewBag.Title = "RoleGrouping";
}

<div class="container container-layout">
    <input id="roleId" type="hidden" form-field-name="RoleId" value="0" />
    <div class="row container-content" style="margin-top: 20px;">
        <table id="dg" class="easyui-datagrid" style="width: 100%; height: 250px; margin: 0 auto;">
            <thead>
                <tr>
                    <th data-options="field:'UserId',checkbox:true,width:30" align="center">选择</th>
                    <th data-options="field:'UserName',width:180" align="center"><span style="font-weight: bold;">用户名</span></th>
                    <th data-options="field:'TrueName',width:180" align="center"><span style="font-weight: bold;">姓名</span></th>
                    <th data-options="field:'AreaName',width:180" align="center"><span style="font-weight: bold;">归属地</span></th>
                </tr>
            </thead>
        </table>
        <div style="margin-top: 10px; text-align: right;">
            <span style="margin-left: 25px;"><a class="btn btn-primary btn-sm" href="javascript:void(0)" onclick="GroupingOpt.Save()"><i class="fa fa-pencil-square-o"></i> 提交</a></span>
            <span style="margin-left: 25px;"><a class="btn btn-primary btn-sm" href="../System/RoleManage" onclick=""><i class="fa fa-pencil-square-o"></i> 返回</a></span>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#roleId").val(@ViewBag.RoleId);
        GroupingOpt.loadRoleUsers();
    })
</script>

<script src="~/JS/GroupingOpt.js"></script>


